<?xml version="1.0" encoding="utf-8"?>
<!-- 注意: 除了手动编辑此文件以外，您还可以使用 Web 管理工具来 
     配置应用程序的设置。可以使用 Visual Studio 中的“网站”->“ASP.NET 配置”
     选项。
     设置和注释的完整列表在
     machine.config.comments 中，该文件通常位于 \Windows\Microsoft.NET\Framework\v2.0.xxxxx\Config 中
 -->
<configuration>
  <appSettings>
    <add key="campusid" value="31,30,39"/><!--对应大学城、龙洞、东风路的栏目id-->
    <add key="daxuecheng" value="32,34,35,36"/><!--对应大学城里的开学啦、学习攻略、生活tips、校园view栏目id-->
    <add key="longdong" value="37,38,40,41"/><!--对应龙洞里的开学啦、学习攻略、生活tips、校园view栏目id-->
    <add key="dongfenglu" value="42,43,44,45"/><!--对应东风路里的开学啦、学习攻略、生活tips、校园view栏目id-->
    <add key="WebTitle" value="工大在线 - 广东工业大学校园门户网站"/>
  </appSettings>
    <connectionStrings/>
    <system.web>

    </system.web>
</configuration>
